<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{loggedInUser.name}}</h2>
            <h4>{{loggedInUser.email}}</h4>
        </div>
        <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Pages</h2> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="employee">Employee</a>

</mat-nav-list>